<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.library_project">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_bottom_nav_categories"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:icon="@drawable/img_login"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.library_project">
        <activity android:name=".HomeActivity" android:exported="true"></activity>
        <activity android:name=".IntroduceActivity" android:exported="true"></activity>
        <activity android:name=".LoginSignUpActivity" android:exported="true"></activity>
        <activity android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>